html{
    box-sizing: border-box;
}
body{
    font-family: Roboto,sans-serif;
    margin: 0 0;
}
.bold{
    font-weight: bold;
}
header,.hero,footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-heading{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 1000;
}
.quote{
    font-size: 36px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
}

.hero-subheading{
    font-size: 18px;
    color:#E5E7EB

}
button{
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}
#normal{
    font-weight: bold;
}
#inverted{
    font-weight: lighter;
}
.temp-image{
    width: 500px;
    height: 200px;
    background-color: #04da28;
}

/* FLEXBOX time   */
.top-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}
.nav-bar{
    margin-right: 300px;
}
.logo-div,.nav-bar *{
    margin-left: 100px;
}
.logo-div{
    
}
.services-container *{
    border: 0.1px solid red;
}
.hero{
    padding: 20px 0 100px 0px;
}
.hero-container{
    display:flex;
    justify-content: space-around;
}
.hero-text-container{
    width: 500px;
}
.hero-text-container *{
    margin: 10px auto;
}
.hero-image-container{
    margin-right: 150px;
}
.services h2{
    text-align: center;
}
.services-flexbox{
    display: flex;
    justify-content: space-around;
}
.services-container{
    border: 3px solid green;
    text-align: center;
    width: 200px;
}
.services-box{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    margin: 0 auto;
}