body{
    font-family: Roboto,sans-serif;
    margin: 0 0;
}
.bold{
    font-weight: bold;
}
.top-bar,.hero,footer{
    background-color: #1F2937;
    color: #F9FAF8;
}
.hero-heading{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 1000;
}
.quote{
    font-size: 36px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
}

.hero-subheading{
    font-size: 18px;
    color:#E5E7EB

}
button{
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}
#normal{
    font-weight: bold;
}
#inverted{
    font-weight: lighter;
}
.temp-image{
    width: 500px;
    height: 200px;
    background-color: #04da28;
}
